__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

data/*.db
data/*.sqlite3
tests/_pytest.sqlite
tests/_pytest.sqlite_tex
tests/_minimal_export.xlsx
report_last.json

.env
.idea/
.vscode/
Template/